.nav-link {
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0.4rem;
  transition: none;
}

.nav-link.active, .nav-link:hover {
  background: #407bff;
  color: #ffffff;
}


i {
  margin-left: 8px;
  margin-right: 8px;
}